.DS_Store
*.pyc
*.swp
*.orig
*.log
*.html
*.png.xmp
/dist/
/*.egg-info
/.eggs
/build
config/config.ini
config/savings_rate_wars.ini
config/config-uzia.ini
config/account-config.ini
csv/income.csv
csv/savings.csv
csv/income.xlsx
csv/savings.xlsx
csv/income-uzia.csv
csv/savings-uzia.csv
